<a href="https://colab.research.google.com/github/wqeracv/It-me/blob/main/21~31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CH.21 사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [2]:
def greet_user (name, old) :
    print(f'("안녕하세요",{name}님! 당신은 {old}살입니다.)')

greet_user ("이성범", 25)

("안녕하세요",이성범님! 당신은 25살입니다.)

CH_22 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [4]:
def sum_numbers(*number) :
    return sum(number)

print(sum_numbers(1+2+3+4+5))

15

CH.23 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [6]:
def print_name(name="익명"):
    print(name)

print_name("노익명")
print_name()

노익명
익명

CH.24 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [7]:
def oz(**kwarge):
    for name, number  in kwarge.items():
        print (f"{name}:{number}")

oz(name="범성", age=25, gender="남성")

name:범성
age:25
gender:남성

CH.25 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [8]:
def add(a, b):
    return a + b

print(add(161412123, 15141413))

176553536

CH.26 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [ ]:
def odd_number(n):
    for i in range(n) :
        if i % 2 != 0 :
            yield i

for num in odd_number(10) :
    print(num)

CH.27 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [ ]:
code = lambda a, b: a + b

print(code(4, 6))

CH.28 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [ ]:
def abc(*number):
    efg = tuple(number)
    print("최소값:", min(efg), "최대값:", max(efg))

abc(20, 18, 92)

CH.29 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [9]:
def is_even(number):
    return number % 2 == 0

print(is_even(134148714))
print(is_even(134148715))

True
False

CH.30 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [10]:
def oz_factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output
n = int(input("구하고싶은 팩토리얼의 수를 입력해주세요"))
print(f"{n}의 결과는 {oz_factorial(n)}입니다")

구하고싶은 팩토리얼의 수를 입력해주세요9
9의 결과는 362880입니다

CH.31 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [11]:
def print_legths(str):
    for i in str:
        print(len(i))

print_legths(["hello", "my", "name"],)

5
2
4

CH.32 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [12]:
def longer_string(str,str1):
    if len(str) >= len(str1): # ==이 아닌이유 : 두문자열의 길이가 같다면 첫번째 문자열을 반환하세요 str이 크면 당연히 str을 출력해야하고 같으면 첫번째 문자열을 출력해야하니까 >=를 사용해야함
        print(str)
    else:
        print(str1)

longer_string("lostark","league of legends")

league of legends